<section class="container py-5" id="services">
    <div class="row justify-content-between">
        <div class="col-12 col-lg-6">
            <title-section title="Our Services">Driving Success Through Tailored Expertise: Empowering Your Media and Gaming Journey with Our Exceptional Services</title-section>
            <div class="d-flex flex-column gap-3">
                <div class="position-relative z-1 p-3 bg-glass rounded" data-aos="zoom-in-up" data-aos-duration="1000">
                    <h5 class="text-neon pop"><i class="bi bi-check2"></i> General Content Development Consultancy and Management Services</h5>
                    <p class="text-info text-justify font-monospace">We specialize in incubating media projects, offering content development consultancy and management services. We handle writers and talent, manage budgets, and ensure client satisfaction, enabling them to market ideas effectively and streamline development.</p>
                </div>
                <div class="position-relative z-1 p-3 bg-glass rounded" data-aos="zoom-in-up" data-aos-duration="1500">
                    <h5 class="text-neon pop"><i class="bi bi-check2"></i> Gaming Design and Development Consultancy and Management Services</h5>
                    <p class="text-info text-justify font-monospace">In addition to our general content development consultancy services, we also offer specialized gaming development consultancy and management. We collaborate with gaming artists, writers, designers, and developers, handling all aspects of the development process, to bring our clients' gaming visions to life.</p>
                </div>
                <div class="position-relative z-1 p-3 bg-glass rounded" data-aos="zoom-in-up" data-aos-duration="2000">
                    <h5 class="text-neon pop"><i class="bi bi-check2"></i> Content and Gaming IP Delivery and Incubation Services</h5>
                    <p class="text-info font-monospace">At IncuGameCon, we excel in project management for both general content and gaming development. We handle IP incubation and asset management, ensuring efficient documentation and protection. Our personalized services, trilingual consultants, and extensive network make us the top choice in the MENAT region.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center">
            <div class="ratio ratio-1x1 animated">
                <iframe class="img-fluid object-fit-cover neon-lg rounded" src="https://www.youtube.com/embed/mezDWHfYeEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                <!-- <img src="https://image.lexica.art/md2/b327f218-87c2-49b7-a879-f06ff087aadd" alt="hero" class="neon-lg img-fluid object-fit-contain"> -->
                <!-- <img src="https://drive.google.com/uc?id=1WCuDSkAZ2zsoqaqJXrwZwolPNNS7jDFh" alt="hero" class="neon-lg img-fluid object-fit-contain"> -->
            </div>
        </div>
        <!-- <div class="col-12 col-lg-4">
            <div class="p-3 bg-glass rounded z-3">
                <h5 class="text-neon pop"><i class="bi bi-check2"></i> General Content Development Consultancy and Management Services</h5>
                <p class="text-info text-justify font-monospace">We specialize in incubating media projects, offering content development consultancy and management services. We handle writers and talent, manage budgets, and ensure client satisfaction, enabling them to market ideas effectively and streamline development.</p>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            
            <div class="p-3 bg-glass rounded z-3">
                <h5 class="text-neon pop"><i class="bi bi-check2"></i> Gaming Design and Development Consultancy and Management Services</h5>
                <p class="text-info text-justify font-monospace">In addition to our general content development consultancy services, we also offer specialized gaming development consultancy and management. We collaborate with gaming artists, writers, designers, and developers, handling all aspects of the development process, including negotiation and legal processes, to bring our clients' gaming visions to life.</p>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            
            <div class="p-3 bg-glass rounded z-3">
                <h5 class="text-neon pop"><i class="bi bi-check2"></i> Content and Gaming IP Delivery and Incubation Services</h5>
                <p class="text-info font-monospace">At IncuGameCon, we excel in project management for both general content and gaming development. We handle legal delivery, IP incubation, and asset management, ensuring efficient documentation and protection. Our personalized services, trilingual consultants, and extensive network make us the top choice in the MENAT region.</p>
            </div>
        </div> -->
    </div>
</section>
