<figure>
    <swiper-container id="blogSwiper" :init="blogSwiper">
        <div class="swiper-slide" v-for="m in media">
            <section class="ratio ratio-16x9" v-if="m.type == 'youtube'">
                <iframe class="img-fluid object-fit-cover rounded" :src="'https://www.youtube-nocookie.com/embed/'+m.src+'?rel=0'" :title="m.alt" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </section>
            <section v-if="m.type == 'image'" class="ratio ratio-16x9">
                    <img :src="m.src" :alt="m.alt" class="img-fluid rounded skeleton object-fit-cover">
            </section>
        </div>
    </swiper-container>
    <!-- <button v-if="media.length >= 2" class="btn tb-sm btn-info" @click="swiper.slideNext()">Watch video</button> -->

</figure>