<section class="container">
    <div class="row">
        <div class="col-12">
            <title-section title="Our Team">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, excepturi!</title-section>
        </div>
        
        <!-- <div class="col-12 col-lg-4" data-aos="flip-right" data-aos-duration="1800">
            <blog></blog>
        </div>
        <div class="col-12 col-lg-4" data-aos="flip-right" data-aos-duration="1800">
            <blog></blog>
        </div>
        <div class="col-12 col-lg-4" data-aos="flip-right" data-aos-duration="1800">
            <blog></blog>
        </div> -->
        <div class="col-12">
            <swiper-container :init="teamSwiper" id="teamSwiper">
                <div class="swiper-slide">
                    <member title="Romel" src="https://image.lexica.art/full_jpg/34ed57ed-296f-48ad-a9f3-942f211cff56">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quae omnis neque expedita, consectetur consequatur.</member>
                </div>
                <div class="swiper-slide">
                    <member title="Romel" src="https://image.lexica.art/full_jpg/34ed57ed-296f-48ad-a9f3-942f211cff56">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quae omnis neque expedita, consectetur consequatur.</member>
                </div>
                <div class="swiper-slide">
                    <member title="Romel" src="https://image.lexica.art/full_jpg/34ed57ed-296f-48ad-a9f3-942f211cff56">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quae omnis neque expedita, consectetur consequatur.</member>
                </div>
                <div class="swiper-slide">
                    <member title="Romel" src="https://image.lexica.art/full_jpg/34ed57ed-296f-48ad-a9f3-942f211cff56">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quae omnis neque expedita, consectetur consequatur.</member>
                </div>
                <div class="swiper-slide">
                    <member title="Romel" src="https://image.lexica.art/full_jpg/34ed57ed-296f-48ad-a9f3-942f211cff56">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum quae omnis neque expedita, consectetur consequatur.</member>
                </div>
            </swiper-container>
        </div>
    </div>
    
</section>