<section class="container" id="projects">
    <div class="row">
        <div class="col-12">
            <title-section title="Our Projects Pipline">Fueling Innovation: Ignite Your Media and Gaming Future with Our Dynamic Project Pipeline</title-section>
        </div>
    </div>
    <div class="row g-3">
        <!-- <div class="col-12 col-lg-4">
            <pot data-aos="flip-right" data-aos-duration="1000" src="https://incugamecon.myshopify.com/cdn/shop/files/shopping_mall.jpg?v=1683135347&width=1080" title="Retail Rivals : Cosmic Brawl">A Free to Play multiplayer game where players compete in a giant mall full of crazy challenges.</pot>
        </div>
        <div class="col-12 col-lg-4">
            <pot data-aos="flip-right" data-aos-duration="1500"  src="https://incugamecon.myshopify.com/cdn/shop/files/8k_graphics_2.jpg?v=1683136491&width=1080" title="Project K">Dive deep into the FPS experience and witness the glorious men and women that fought and died to protect their country!</pot>
        </div>
        <div class="col-12 col-lg-4">
            <pot data-aos="flip-right" data-aos-duration="2000"  src="https://incugamecon.myshopify.com/cdn/shop/files/10_year_old_kid_1.jpg?v=1683137105&width=1080" title="Matte BeBeD'Or">Within you lies the power to ignite hope, banish shadows, and unleash a radiant future.</pot>
        </div> -->
        <div class="col-12 col-lg-4">
            <pot data-aos="flip-right" data-aos-duration="1000" src="https://media.istockphoto.com/id/1409964364/photo/fantasy-fairy-cyberpunk-city-girl-in-flying-car-postapocalypde-concept-3d-rendering.jpg?s=2048x2048&w=is&k=20&c=8_Iy1z_PE4wlmU27pHPCO0m46J3jiu34n4bh-FLweq0=" title="Retail Rivals : Cosmic Brawl">A Free to Play multiplayer game where players compete in a giant mall full of crazy challenges.</pot>
        </div>
        <div class="col-12 col-lg-4">
            <pot data-aos="flip-right" data-aos-duration="1500"  src="https://media.istockphoto.com/id/1409964330/photo/fantasy-fairy-cyberpunk-city-girl-in-flying-car-postapocalypde-concept-3d-rendering.jpg?s=2048x2048&w=is&k=20&c=bRj-YuZHEKY5fdvUmMYXR6wDne4Uqjqz31pzHlrMBG8=" title="Project K">Dive deep into the FPS experience and witness the glorious men and women that fought and died to protect their country!</pot>
        </div>
        <div class="col-12 col-lg-4">
            <pot data-aos="flip-right" data-aos-duration="2000"  src="https://media.istockphoto.com/id/471745298/photo/astronaut-on-distant-planet-with-landed-ufo.jpg?s=2048x2048&w=is&k=20&c=H-jocvIIA8IykLb6TGcXdfBMOJpBCTFh8qn4HKllPD0=" title="Matte BeBeD'Or">Within you lies the power to ignite hope, banish shadows, and unleash a radiant future.</pot>
        </div>
    </div>
</section>
<!-- https://media.istockphoto.com/id/1409964364/photo/fantasy-fairy-cyberpunk-city-girl-in-flying-car-postapocalypde-concept-3d-rendering.jpg?s=2048x2048&w=is&k=20&c=8_Iy1z_PE4wlmU27pHPCO0m46J3jiu34n4bh-FLweq0= -->