<section class="d-flex flex-column position-relative z-1 ">
    <div class="ratio ratio-3x4 overflow-hidden neon-hover rounded">
        <img :src="data.thumbnail" alt="service" class="skeleton img-zoom img-fluid object-fit-cover rounded img-brightness rounded">
    </div>
    <div class="w-100 pot-info p-3 rounded">
        <h5 style="min-height: 45px;" class="text-light text-neon text-fade-2 fs-5 pop fw-bold ">{{data.title}}</h5>
        <!-- <h5 style="min-height: 45px;" class="text-neon text-fade-2 fs-5 bungee border-start border-5 ps-2 border-warning">{{data.title}}</h5> -->
        <!-- <p class="bg-glass rounded p-1 text-light font-monospace text-fade-3">{{data.description}}</p> -->
        <a :href="data.url" class="w-100 btn btn-outline-light btn-sm w-100">Explore</a>
    </div>
</section>