<section style="height: 100vh;" class="position-relative" id="about">
    <swiper-container class="h-100" id="hero-swiper" :init="swiperInit">
        <div class="swiper-slide" v-for="s in slides" :key="s">
            <div class="h-100 ratio ratio-16x9">
                <img :src="s" alt="hero-slide" class="skeleton img-brightness img-fluid object-fit-cover">
            </div>
        </div>
    </swiper-container>
    <aside class="container position-absolute z-1 top-50 start-50 translate-middle">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 data-aos-duration="1500" class="display-3 bebas text-light text-centerr text-neon" data-aos="zoom-in-up">Imagine Generate Conquer</h2>
                <p data-aos-duration="1000" data-aos="zoom-in" class="text-light pop p-2 bg-glass rounded text-justify">
                    IncuGameCon is a leading media development consultancy and management service provider based in Dubai. We specialize in providing tailored services for gaming, film, and TV companies, offering expertise in media consultancy and intellectual property incubation. Our dedicated team is passionate about delivering exceptional services and works closely with clients to understand their vision and goals, ensuring efficient and cost-effective execution. Whether you're a startup or an established company, we are here to meet your specific needs and help you succeed in the media and gaming industry.</p>

                <!-- <a href="https://wa.me/+17167309932" class="w-100 btn btn-light opacity-75" ><span class="pop fs-bold">Get started</span></a> -->
            </div>
            <!-- <div class="col-12 col-lg-5">
                <div class="ratio ratio-16x9 animated">
                    <iframe class="img-fluid object-fit-cover neon-lg rounded" src="https://www.youtube.com/embed/mezDWHfYeEs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div> -->
        </div>
    </aside>
</section>