<section class="p-3 pop d-flex flex-column gap-2 bg-dark rounded">
    <div class="ratio ratio-16x9">
        <img src="https://image.lexica.art/md2/4eb8ae8d-b803-44aa-8097-155bdab93b9d" alt="s1" class="img-fluid object-fit-cover rounded">
    </div>
    <h4 class="fs-4 text-info m-0 text-fade">General Content Development Consultancy and Management Services</h4>
    <div class="">
        <p class="text-light fs-smaller text-fade-3 m-0">We specialize in incubating media projects, offering content development consultancy and management services. We handle writers and talent, manage budgets, and ensure client satisfaction, enabling them to market ideas effectively and streamline development.</p>
        <time class="fs-xsmall text-warning font-monospace">22 hours ago</time>
    </div>
</section>